<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
	xmlns:set="http://www.sitecore.net/xmlconfig/set/"
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<linkManager>
			<providers>
				<add name="localizedProvider" patch:source="zzz.Asml.LinkManager.config">
					<patch:attribute name="languageEmbedding">always</patch:attribute>
					<patch:attribute name="useDisplayName">true</patch:attribute>
					<patch:attribute name="lowercaseUrls">true</patch:attribute>
				</add>
				<add name="sitemapProvider" patch:source="zzz.Asml.LinkManager.config"
					type="Sitecore.XA.Foundation.Multisite.LinkManagers.LocalizableLinkProvider, Sitecore.XA.Foundation.Multisite"
					cacheExpiration="5" addAspxExtension="false" alwaysIncludeServerUrl="true"
					encodeNames="true" languageEmbedding="always" languageLocation="filePath"
					lowercaseUrls="true" shortenUrls="true" useDisplayName="true"
				/>
			</providers>
		</linkManager>
		<links>
			<urlBuilder patch:source="zzz.Asml.LinkManager.config">
				<useDisplayName>true</useDisplayName>
				<languageEmbedding>always</languageEmbedding>
				<lowercaseUrls>true</lowercaseUrls>
			</urlBuilder>
			<mediaUrlBuilder>
				<param type="Sitecore.Links.UrlBuilders.DefaultMediaUrlBuilderOptions, Sitecore.Kernel" desc="defaultOptions">
					<lowercaseUrls>
						<patch:delete />
					</lowercaseUrls>
					<lowercaseUrls>false</lowercaseUrls>
				</param>
			</mediaUrlBuilder>
		</links>
	</sitecore>
</configuration>